{
	admin off # no need in Railway
	persist_config off # storage isn't persistent anyway
	auto_https off # https handled in prod environment
	log {
		format console
	}
	servers {
		trusted_proxies static private_ranges # trust railway's proxy
	}
}

:{$PORT} {
	log {
		format console
	}

	respond /health 200

	encode gzip

	root * dist
	file_server
}
