---
import { Button } from "@/components/ui/Button";
import ExampleCards from "@/components/example_cards.vue";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="tw-w-full tw-flex tw-flex-1 tw-flex-wrap tw-gap-8">
    <!-- <ExampleCards client:load /> -->
  </div>
</MainLayout>
