---
import GigCard from "@/components/app/GigCard.vue";
import Logo from "@/components/brand/logo.vue";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<div class="tw-m-10">
		<GigCard />
	</div>
</MainLayout>