---
import { Button } from "@/components/ui/Button";
import { Card, CardBody, CardHeader } from "@/components/ui/Card";
import MainLayout from "@/layouts/MainLayout.astro";
import { OctagonAlert, LogIn } from "lucide-vue-next";
---

<MainLayout>
	<div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-mb-8">
		<div class="tw-w-[500px] tw-h-fit">
			<Card class="tw-w-full tw-h-fit">
				<CardHeader class="tw-my-4 tw-mx-8">
					<div class="tw-flex tw-flex-row">
						<LogIn class="tw-mr-3 tw-mt-1" />
						<h2 class="tw-text-2xl tw-font-semibold">Login</h2>
					</div>

                    <p class="tw-mt-1">Don't have an account yet? <a class="link" href="/register">Sign Up</a></p>
				</CardHeader>

				<CardBody class="tw-my-4 tw-mx-8">
					<form id="login_form" class="tw-flex tw-flex-col tw-gap-5">
						<label class="tw-flex tw-flex-col">
							<span class="tw-text-base tw-mb-1">Username or Email</span>
							<input type="text" name="identifier" class="tw-border tw-border-gray-300 tw-rounded tw-p-2 tw-text-input" required />
						</label>

						<label class="tw-flex tw-flex-col">
							<span class="tw-text-base tw-mb-1">Password</span>
							<input type="password" name="password" class="tw-border tw-border-gray-300 tw-rounded tw-p-2 tw-text-input" required />
						</label>

						<Button id="submit_button" type="button" size="lg" class="tw-my-4"> Login </Button>
					</form>
				</CardBody>
			</Card>

			<div id="error_message_container" class="tw-mt-4 tw-hidden">
				<Card>
					<CardHeader class="tw-px-8 tw-py-4">
						<div class="tw-flex tw-flex-row tw-items-center tw-mb-1">
							<OctagonAlert class="tw-mr-2 tw-mt-0.5 tw-w-5 tw-h-5" />
							<h3 class="tw-font-semibold">Login Error</h3>
						</div>
						<p class="tw-text-sm tw-text-muted-foreground" id="error_message">This page is not yet implemented.</p>
					</CardHeader>
				</Card>
			</div>
		</div>
	</div>
</MainLayout>

<script>
	import { api } from "@/lib/api";

	const form = document.getElementById("login_form") as HTMLFormElement;
	const formSubmitButton = document.getElementById("submit_button") as HTMLButtonElement;
	const formErrorMessage = document.getElementById("error_message") as HTMLParagraphElement;
	const formErrorContainer = document.getElementById("error_message_container") as HTMLDivElement;

	function displayError(message: string, duration: number = 5000) {
		formErrorContainer.style.display = "block";
		formErrorMessage.innerText = message;

		setTimeout(() => {
			// only hide it again if the error hasn't changed since
			if (formErrorMessage.innerText == message) formErrorContainer.style.display = "none";
		}, duration);
	}

	formSubmitButton.addEventListener("click", async (event) => {
		const formData = new FormData(form);
		const data = Object.fromEntries(formData.entries());

		try {
			const response = await api.request("/api/authv1/login", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			});

			if (response.status == 401) {
				displayError("Invalid username or password. Please try again.");
				return;
			}

			console.log("Submitting: ", data);

			const result = await response.json();

			if (!result.success) displayError(result.message || result.error || "An unknown error occurred.");
			else window.location.href = "/";
		} catch (error) {
			console.error("Error:", error);
			displayError("An error occurred while processing your request. Please try again later.");
		}
	});
</script>
